* {
    box-sizing: border-box;
}


html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#viewDiv {
    padding: 0;
    margin:  25px 3% 75px;
    height: 80%;
    width: 94%;
}

.header {
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
}

.linehor {
    display: inline;
    margin: 10px;
}

.linevert {
    display: block;
    margin: 3px;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 20%;
}

.column.middle {
    width: 78%;
}

.column.small {
    width: 50%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/******************************For the menubar the left column***********************************/
li a {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
    cursor:pointer;
}

.active {
    background-color: #4CAF50;
    color: white;
}
/*************************For the localization button*********************************************/
.stoplocalizebutton {
    display: block;
    margin: 3px;
    disabled: true;
}
.startlocalizebutton {
    display: block;
    margin: 3px;
    disabled: false;
}
/*************************For the toggle button*********************************************/
.toggleDiv
{
    width:249px;
    height:299px;
    overflow-y: scroll;
    max-width:300px;
    max-height:80px;
}

.toggleEnv {
    display: block;
    margin: 3px;
    border-top-left-radius: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}